<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Electric Charging Stations in the US</title>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    #map, #heatMap {
      height: 600px;
      width: 1000px;
      margin: auto;
      margin-bottom: 20px; /* Add some space between the maps */
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 p-5 text-center bg-light">
        <h1>Electric Charging Stations in the US</h1>
        <p>Let's explore the dataset</p>
        <img src="{{ url_for('static', filename='htmlimages/mapp.jpg') }}" alt="Mapp" style="width: 300px; height: 200px;">
      </div>
    </div>
  </div>

  <!-- Map for markers -->
  <div id="map"></div>
  
  <!-- Map for the heat map -->
  <div id="heatMap"></div>

  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet.heat/dist/leaflet-heat.js"></script>
  <script>
    var stations = {{ stations_by_address|tojson }};

    // First Map
    var map = L.map('map').setView([39.50, -98.35], 4);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; OpenStreetMap contributors'
    }).addTo(map);

    var customIcon = L.icon({
      iconUrl: "{{ url_for('static', filename='htmlimages/charge.png') }}",
      iconSize: [32, 32], 
      iconAnchor: [16, 32], 
      popupAnchor: [0, -32] 
    });

    stations.forEach(function(station) {
      L.marker([station.latitude, station.longitude], {icon: customIcon}).addTo(map)
      .bindPopup(`<b>${station.street_address}</b><br>${station.city}, ${station.state} ${station.zip}<br>Station Count: ${station.station_count}<br>Fuel Type: ${station.fueltypecode}`);
    });

    // Second Map
    var heatMap = L.map('heatMap').setView([39.50, -98.35], 4);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; OpenStreetMap contributors'
    }).addTo(heatMap);

    var heatMapData = stations.map(function(station) {
      return [station.latitude, station.longitude, station.station_count ? station.station_count : 1];
    });

    L.heatLayer(heatMapData, {
      radius: 25,
      blur: 15,
      maxZoom: 17,
    }).addTo(heatMap);
  </script>
</body>
</html>
