<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Electric Charging Stations in the US</title>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <style>
    #map {
      height: 600px;
      width: 1000px;
      margin: auto;
    }
  </style>
  
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 p-5 text-center bg-light">
        <h1>Electric Charging Stations in the US</h1>
        <p>Let's explore the dataset</p>
        <img src="{{ url_for('static', filename='htmlimages/mapp.jpg') }}" alt="Mapp" style="width: 300px; height: 200px;">
      </div>
    </div>
  </div>

  <div id="map"></div>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script>
    var stations = {{ stations_by_address|tojson }};
    var map = L.map('map').setView([39.50, -98.35], 4); // Center map on the US

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; OpenStreetMap contributors'
    }).addTo(map);

    stations.forEach(function(station) {
        L.marker([station.latitude, station.longitude]).addTo(map)
        .bindPopup(`<b>${station.street_address}</b><br>${station.city}, ${station.state} ${station.zip}<br>${station.station_count} stations<br>Fuel Type: ${station.fueltypecode}`);
    });
</script>
</body>

</html>